@{
    ViewData["Title"] = "Confirmation";
}

@model Mission6_Whetten.Models.Record

<h2>Movie Record Recieved. Thank you.</h2>

<br /><br />

<a asp-action="MovieDatabase" asp-controller="Home" class="btn btn-secondary">Add Another Movie Record</a>