
@{
    // Set the page title that appears in the browser tab
    ViewData["Title"] = "Get To Know Joel";
}
<h1>@ViewData["Title"]</h1>

<!-- Section about Joel's comedy performances -->
<p>Did you know Joel performs regularly at Quick Wits comedy? Check out his work at the link below</p>
<a href="https://www.qwcomedy.com/" title="Quick Wits Comedy">Quick Wits Comedy</a>

<br> <br> <br>

<!-- Section about Joel's podcast -->
<p>Did you know Joel does a weekly podcast about films & pop culture called Baconsale? Check out his podcast at the link below</p>
<a href="https://baconsale.com/" title="Baconsale Podcast">Baconsale Podcast</a>

<br> <br> <br>

<!-- Clickable image that links to the Baconsale website -->
<a href="https://baconsale.com/" title="Baconsale Podcast">
    <img src="~/img/BaconsaleKate.jpg" class="get-to-know-image" alt="The Baconsale team with Kate">
</a>