
@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<img src="~/img/JoelHiltonHeadshot.jpg" height="500" alt="Headshot of Joel Hilton">

<div class="intro-text">
    <p><br>Joel Hilton is a movie fanatic. He regularly adds his favorites to his movie list.
        He minored in Film Studies at BYU and is extremely qualified to make proper judgments
        on the quality of a movie.</p>
</div>