
@{
    // Set the page title that appears in the browser tab
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<!-- Display Joel's headshot image -->
<img src="~/img/JoelHiltonHeadshot.jpg" height="500" alt="Headshot of Joel Hilton">

<!-- Introduction text about Joel and his movie expertise -->
<div class="intro-text">
    <p><br>Joel Hilton is a movie fanatic. He regularly adds his favorites to his movie list.
        He minored in Film Studies at BYU and is extremely qualified to make proper judgments
        on the quality of a movie.</p>
</div>